<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace= "com.library.book.mapper.BookMapper">

      <select id="BookList"
            resultType="com.library.book.dto.BookDTO">
            SELECT
            	bookNumber,
            	bookNumberInfo,
            	bookTitle,
            	Category
            	FROM book
    </select>
    
          <select id="BookSearch"
          	parameterType="string"
            resultType="com.library.book.dto.BookDTO">
            SELECT
            	bookNumber,
            	bookNumberInfo,
            	bookTitle
            	FROM book
            WHERE bookTitle LIKE CONCAT('%', #{Search}, '%')
    </select>
    
          <select id="BookDetail"
          	parameterType="Long"
            resultType="com.library.book.dto.BookDTO">
            SELECT
            	bookNumber,
            	bookNumberInfo,
            	bookImg,
            	bookTitle,
            	Writer,
            	Publisher,
            	Category,
            	bookContent,
            	loanAvailable
            FROM book
            WHERE bookNumberInfo = #{bookNumberInfo}
    </select>
    
          <select id="BookCategory"
            resultType="com.library.book.dto.BookDTO">
            SELECT 
            	DISTINCT Category
            FROM book;
    </select>
    
          <select id="CategoryList"
          	parameterType="string"
            resultType="com.library.book.dto.BookDTO">
            SELECT 
				bookNumber,
            	bookNumberInfo,
            	bookTitle
            FROM book
            WHERE Category = #{category}
    </select>
</mapper>