<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.library.loan.mapper.LoanMapper">

<select id="selectLoanListMember" resultType="com.library.loan.dto.LoanDTO">
    SELECT
        l.loanNo,
        l.bookNumber,
        l.memberNo,
        l.loanDate,
        l.dueDate,
        l.returnDate,
        l.extension,
        l.requeststate,
        b.bookTitle,
        b.Writer
    FROM loan l
    JOIN book b ON l.bookNumber = b.bookNumber
    WHERE l.memberNo = #{memberNo}
      AND l.requeststate = 2
    ORDER BY l.loanNo DESC
</select>

<select id="selectLoanListAdmin" resultType="com.library.loan.dto.LoanDTO">
    SELECT
        l.loanNo,
        l.bookNumber,
        l.memberNo,
        l.loanDate,
        l.dueDate,
        l.returnDate,
        l.extension,
        l.requeststate,
        m.memberId,
        b.bookTitle,
        b.Writer AS writer
    FROM loan l
    JOIN book b ON l.bookNumber = b.bookNumber
    JOIN member m ON l.memberNo = m.memberNo
    WHERE m.memberId = #{memberId}
      AND l.requeststate IN (1, 2, 3)
    ORDER BY l.loanNo DESC
</select>

<insert id="insertLoan" parameterType="com.library.loan.dto.LoanDTO">
    INSERT INTO loan 
    (bookNumber, memberNo, requeststate)
    VALUES (#{bookNumber}, #{memberNo}, #{requestState})
</insert>


<select id="selectBookLoanAvailable" parameterType="int" resultType="java.lang.Boolean">
    SELECT loanAvailable 
    FROM book 
    WHERE bookNumber = #{bookNumber}
</select>

<select id="selectTopCategory" parameterType="int" resultType="string">
    SELECT b.Category
    FROM loan l
    JOIN book b 
    ON l.bookNumber = b.bookNumber
    WHERE l.memberNo = #{memberNo}
    GROUP BY b.Category
    ORDER BY COUNT(*) DESC
    LIMIT 1
</select>

<update id="changeState">
	UPDATE loan
	SET requeststate = 3
	WHERE loanNo = #{loanNo}
		AND extension = true
</update>

<update id="checkLoan">
	UPDATE loan
	SET 
	requeststate = 2,
	loanDate = CURDATE(),
    dueDate = DATE_ADD(CURDATE(), INTERVAL 7 DAY)
	WHERE loanNo = #{loanNo}
		AND requeststate = 1
</update>

<update id="extensionLoan">
    UPDATE loan
    SET 
    requeststate = 2,
    dueDate = DATE_ADD(dueDate, INTERVAL 7 DAY),
    extension = false
    WHERE loanNo = #{loanNo}
      AND extension = true
</update>

<update id="returnLoan">
	UPDATE loan
	SET 
	requeststate = 4,
	returnDate = CURDATE()
	WHERE loanNo = #{loanNo}
</update>

</mapper>